---
import FormRegisterParticipant from "@/components/react_components/FormRegisterParticipant";
import Layout from "@/layouts/Layout.astro";


---
<Layout title="Registrar Participantes">
<div data-aos="fade-up" data-aos-duration="1000">
  <FormRegisterParticipant client:load />
</div>
</Layout>