---
import FormRegisterParticipant from "@/components/react_components/FormRegisterParticipant";
import Layout from "@/layouts/Layout.astro";


---
<Layout title="Registro de Participantes | Seminario Nordvital IPS" description="Registra tu participación en los seminarios y eventos educativos de Nordvital IPS. Completa el formulario y asegura tu cupo.">
<div data-aos="fade-up" data-aos-duration="1000">
  <FormRegisterParticipant client:load />
</div>
</Layout>