---
import iconContact from '@/assets/services_icons/ico-se2.svg?url'
---


<div class="max-w-[327px] max-h-[437px]">
    <div>
        <h5 class="text-2xl font-bold mb-3">
            Contáctenos
        </h5>
        <hr>
        <p class="text-base mt-3 mb-3">
            Contamos con 
            <span class="font-bold">atención 12 horas</span>
            del día (De 7:00 a.m. a 7:00 p.m.), en nuestro
            <span class="font-bold">servicio de cita prioritaria</span>
            para niños, adolescente, adulto y adulto mayor.
        </p>
        <hr>
        <p class="text-base mt-3 mb-3">
            En nuestro servicio de consulta institucional, tenemos horarios según la agenda de citas.
        </p>
        <hr>

        <div class="grid grid-cols-[80%_20%] mt-3 mb-3">
            <div class="text-center">
                <p class="font-bold"> 
                    Comunícate con nuestro Call Center
                </p>
            </div>
            <div class="flex items-center">
                <img src={iconContact} alt="icon contact">
            </div>
        </div>

    </div>

</div>