---
import Layout from "../layouts/Layout.astro";
import HeroSection from "@/components/common/HeroSection.astro";
import img from "@/images/Header/CONTACTO_11zon.webp";
import MessageFormCotactUs from "@/components/react_components/MessageFormContactUs";
import WorkUsForm from "@/components/react_components/WorkUsForm";

//icons
import icon2 from "@/images/Contactanos/correo.svg";
import icon3 from "@/images/Contactanos/contacto.svg";
import icon4 from "@/images/Contactanos/horario.svg";
import H from "@/components/ui/H.astro";
import { Clock, Mail, Map, MapPin, Phone } from "lucide-react";
import P from "@/components/ui/P.astro";
---

<Layout
  title="Contacto | Nordvital IPS - Atención y Soporte"
  description="Contáctanos para resolver dudas, agendar citas o unirte a nuestro equipo. Nordvital IPS ofrece atención personalizada a través de nuestras líneas telefónicas, correo y chat de servicio."
>
  <head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <main class="overflow-x-hidden bg-gray-100">
    <HeroSection title="Contáctenos" backgroundImage={img} breadcrumb={[
      { label: "Inicio", link: "/" },
      { label: "Contáctenos", link: "/contact-us" }
    ]} />

    <div class="container mx-auto px-4 py-2">
      <div class="flex flex-col lg:flex-row gap-8">
        {/* Info Cards Section */}
        <div class="w-full lg:w-1/2">
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div
              class="p-6 bg-white rounded-lg shadow-lg border border-slate-200 hover:border-sky-300 hover:shadow-xl transition-all"
            >
              <MapPin className="mb-4 h-12 w-12 text-nv-turquesa" />
              <H level={5}>Sede Administrativa</H>
              <div class="flex items-center gap-2 mt-1">
                <Map className="h-6 w-6 text-nv-turquesa"/>
                <a
                  href="https://maps.app.goo.gl/KLWrQo7caN8dcdpZ6"
                  target="_blank"
                  class="text-nv-azul-claro transition-colors duration-300 underline hover:text-nv-azul-claro-dark"
                >
                  Ubicación
                </a>
              </div>
            </div>

            <div
              class="p-6 bg-white rounded-lg shadow-lg border border-slate-200 hover:border-sky-300 hover:shadow-xl transition-all"
            >
              <Mail className="mb-4 h-12 w-12 text-nv-turquesa" />
              <H level={5} class="mb-2">Correo Electrónico</H>
              <P class="mt-1">Para gestión de servicios:</P>
              <a
                href="mailto:servicioalcliente@nordvitalips.com"
                class="text-blue-500 hover:text-blue-700 transition-colors duration-300 underline"
              >
                servicioalcliente@nordvitalips.com
              </a>
              <P class="mt-2"> 
                Para gestión jurídica:
              </P>
              <a href="mailto:notificacionesjudiciales@nordvitalips.com" class="text-blue-500 hover:text-blue-700 transition-colors duration-300 underline">
                notificacionesjudiciales@nordvitalips.com
              </a>
            </div>

            <div
              class="p-6 bg-white rounded-lg shadow-lg border border-slate-200 hover:border-sky-300 hover:shadow-xl transition-all"
            >
              <Phone className="mb-4 h-12 w-12 text-nv-turquesa" />
              <H level={5}>Contacto</H>
              <P>(+57) 3174309873</P>
            </div>

            <div
              class="p-6 bg-white rounded-lg shadow-lg border border-slate-200 hover:border-sky-300 hover:shadow-xl transition-all"
            >
              <Clock className="mb-4 h-12 w-12 text-nv-turquesa" />
              <H level={5}>Horarios De Atención</H>
              <H level={6}>Lunes a viernes</H>
              <P class="mb-2">6:00 am - 6:30 pm</P>
              <H level={6}>Sábados</H>
              <P>8:00 am - 12:00 pm</P>
            </div>
          </div>
        </div>

        <div
          class="w-full lg:w-1/2 bg-white rounded-xl shadow-lg border border-slate-200 mb-20"
        >
          <div class="p-6 border-b">
            <div class="flex flex-col sm:flex-row gap-4">
              <button
                class="w-full sm:w-auto px-4 py-2 rounded-xl text-white bg-gray-500 hover:bg-gray-600 transition-colors"
                id="contactanos-btn"
              >
                Escribe un mensaje
              </button>
              <button
                class="w-full sm:w-auto px-4 py-2 rounded-xl text-white bg-gray-500 hover:bg-gray-600 transition-colors"
                id="escribe-mensaje-btn"
              >
                Trabaje con Nosotros
              </button>
              <button
                class="w-full sm:w-auto px-4 py-2 rounded-xl text-white bg-gray-500 hover:bg-gray-600 transition-colors"
                id="pqrsfd-btn"
              >
                PQRSFD
              </button>
              
            </div>
          </div>

          <div id="form-contacto" class="p-3">
            <MessageFormCotactUs client:load />
          </div>

          <div id="form-puesto-trabajo" class="p-3">
            <WorkUsForm client:load />
          </div>
        </div>
      </div>
    </div>
  </main>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const contactanosBtn = document.getElementById("contactanos-btn");
      const escribeMensajeBtn = document.getElementById("escribe-mensaje-btn");
      const pqrsfdBtn = document.getElementById("pqrsfd-btn");

      // llevar al usuario al formulario de PQRSFD
      pqrsfdBtn?.addEventListener("click", function () {
        window.location.href = "/users/pqrsfd#pqrsfd-form";
      });

      const formContacto = document.getElementById("form-contacto");
      const formPuestoTrabajo = document.getElementById("form-puesto-trabajo");

      // button
      const updateButtonStyles = (
        activeBtn: HTMLElement,
        inactiveBtn: HTMLElement
      ) => {
        // Activar
        activeBtn.classList.remove("bg-gray-500");
        activeBtn.classList.add("bg-sky-500");
        // Inactivar styles button
        inactiveBtn.classList.remove("bg-sky-500");
        inactiveBtn.classList.add("bg-gray-500");
      };

      // inicial
      if (
        formContacto &&
        formPuestoTrabajo &&
        contactanosBtn &&
        escribeMensajeBtn
      ) {
        formContacto.style.display = "none";
        formPuestoTrabajo.style.display = "block";
        updateButtonStyles(contactanosBtn, escribeMensajeBtn);

        // "Escribe un mensaje" button
        contactanosBtn.addEventListener("click", function () {
          formContacto.style.display = "block";
          formPuestoTrabajo.style.display = "none";
          updateButtonStyles(contactanosBtn, escribeMensajeBtn);
        });

        // "Trabaje con Nosotros" button
        escribeMensajeBtn.addEventListener("click", function () {
          formContacto.style.display = "none";
          formPuestoTrabajo.style.display = "block";
          updateButtonStyles(escribeMensajeBtn, contactanosBtn);
        });
      }
      if (escribeMensajeBtn && contactanosBtn) {
        updateButtonStyles(escribeMensajeBtn, contactanosBtn);
      }
    });
  </script>
</Layout>
