---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contáctanos">

    <div>
        <h1 class="text-4xl text-center font-bold text-gray-800">
            Contáctanos
        </h1>
    </div>

</Layout>