---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inicio">
    <main>
      <section class="p-0">
        <div id="carouselExampleIndicators" class="w-full">
          <div class="flex absolute bottom-4 left-1/2 transform -translate-x-1/2 z-10 space-x-2">
            <button type="button" data-slide-to="0" class="w-3 h-3 rounded-full bg-white opacity-50 hover:opacity-100 active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-slide-to="1" class="w-3 h-3 rounded-full bg-white opacity-50 hover:opacity-100" aria-label="Slide 2"></button>
            <button type="button" data-slide-to="2" class="w-3 h-3 rounded-full bg-white opacity-50 hover:opacity-100" aria-label="Slide 3"></button>
            <button type="button" data-slide-to="3" class="w-3 h-3 rounded-full bg-white opacity-50 hover:opacity-100" aria-label="Slide 4"></button>
          </div>

          <div class="carousel-inner  w-full">
            <div class="carousel-item transition-opacity duration-700 active">
              <img src="/src/images/SliderPrincipal/slider2.webp" class="block w-full" alt="Agenda tu Cita" title="Agenda tu Cita">
            </div>
            <div class="carousel-item hidden transition-opacity duration-700 ease-in-out">
              <img src="/src/images/SliderPrincipal/slider3.webp" class="inline-block w-full" alt="Atencion Dental" title="Atencion Dental">
            </div>
            <div class="carousel-item hidden transition-opacity duration-700 ease-in-out">
              <img src="/src/images/SliderPrincipal/slider4.webp" class="block w-full" alt="Laboratorio" title="Laboratorio">
            </div>
            <div class="carousel-item hidden transition-opacity duration-700 ease-in-out">
              <img src="/src/images/SliderPrincipal/slider1.webp" class="block w-full" alt="Perfil Lipido" title="Perfil Lipido">
            </div>
          </div>

          <button class="carousel-control-prev absolute top-[385px] left-4 transform -translate-y-1/2 z-10 bg-black/30 hover:bg-black/50 rounded-full p-2" type="button">
            <span class="inline-block w-6 h-6" aria-hidden="true">←</span>
            <span class="sr-only">Previous</span>
          </button>

          <button class="carousel-control-next absolute top-[385px] right-4 transform -translate-y-1/2 z-10 bg-black/30 hover:bg-black/50 rounded-full p-2" type="button">
            <span class="inline-block w-6 h-6" aria-hidden="true">→</span>
            <span class="sr-only">Next</span>
          </button>
        </div>
      </section>

        <!-- UNA IPS COMPROMETIDA CON SUS USARIOS -->
    <div class="container weight-600">
      <div class="row">
        <div class=" col-12 col-sm-12 col-lg-12 col-xl-6 d-flex align-content-center ">
          <div class="ips d-flex  align-content-center">
            <h1 class="text-muted">Una <span class="text-primary">IPS</span> comprometida con sus usuarios</h1>
          </div>

        </div>
        <div class="mt-3 col-12 col-sm-12  col-lg-12 col-xl-6 d-flex align-items-center  ">
          <div class="ips-parrafo">
            <p class="text-muted"><b>NordVital IPS</b> se destaca por su compromiso con los usuarios, garantizando una atención médica de calidad, accesible y disponible para todos.</p>
          </div>
          
        </div>
      </div>
    </div>
  </main>

    <!--JQUERY (REQUERIENDO PARA OWL CAROSUEL-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!--OWL CAROUSEL JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    
    <script>
      $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true, // Activar la navegación
        navText: ["<i class='fas fa-chevron-left'></i>", "<i class='fas fa-chevron-right'></i>"], // Definir los íconos para los botones prev y next
        responsive: {
          0: {
            items: 1
          },
          600: {
            items: 2
          },
          1400: {
            items: 3
          }
        }
      });

      
      // Eventos para los botones personalizados
      $(".custom-next").click(function() {
        $('.owl-carousel').trigger('next.owl.carousel');
      });
      
      $(".custom-prev").click(function() {
        $('.owl-carousel').trigger('prev.owl.carousel');
      });
      </script>
</Layout>