---
import LoadingCarousel from "@/components/react_components/Carrousel";
import Layout from "../layouts/Layout.astro";
---


<Layout title="Inicio">
  <main class=" bg-gray-100">
    <!-- <LoadingCarousel client:load/> -->
  </main>
</Layout>
