---
import { Mail, MessageCircle } from "lucide-react";

const contactLinks = [
  {
    href: "https://api.whatsapp.com/send?phone=573174309873&text=Hola sean bienvenidos a Nordvital ips, una ips comprometida con sus usuarios.",
    icon: MessageCircle,
    text: "(+57) 317-430-9873",
  },
  {
    href: "mailto:servicioalcliente@nordvitalips.com",
    icon: Mail,
    text: "servicioalcliente@nordvitalips.com",
  },
  {
    href: "/aboutus/headquarters",
    icon: Mail,
    text: "Nuestras sedes",
  },
];
---

<div class="text-gray-100 place-items-center">
  <h3 class="text-2xl text-white font-bold py-3 lg:py-0 lg:mb-5 lg:mt-12 text-center">Contáctanos:</h3>
  <div class="items-center text-sm">
    {
      contactLinks.map((link) => (
        <a
          href={link.href}
          target="_blank"
          class="flex items-center mb-3 group hover:scale-105 transition-all ease-in-out duration-300"
        >
          <link.icon className="w-6 h-6 text-white group-hover:text-black transition-colors duration-300" />
          <span class="text-sm ml-2 group-hover:text-black transition-colors duration-300">
          {link.text}
          </span>
        </a>
      ))
    }
  </div>
</div>