---
import ContactLinks from './ContactUsFooter.astro';
import SocialLinks from './SocialLinksFooter.astro';
import FooterInfo from './FooterInfo.astro';
---

<footer>
  <div class="bg-[#049ae7] text-white grid grid-cols-4 gap-5">
    <div class="m-12 h-44 w-48">
      <img
        src="/src/assets/logo_footer/LOGO-BLANCO-NORVITAL.png"
        alt="Logo Nordvital"
        class="mx-auto"
      />
    </div>

    <FooterInfo />

    <ContactLinks />

    <SocialLinks />
  </div>
  <hr />
  <div class="bg-[#049ae7] text-white font-semibold text-sm text-center">
    <div class="p-7 grid grid-cols-3">
      <a href="/Pagina-nordvitalips/html/nuestras-politicas.php">Términos y condiciones</a>
      <a href="/Pagina-nordvitalips/html/nuestras-politicas.php" class="text-center">Nordvital - Todos los derechos reservados &#169 2025</a>
      <a href="/Pagina-nordvitalips/html/Tratamiento-datos.php">Tratamiento de datos</a>
    </div>
  </div>
</footer>