---
import ContactLinks from "./ContactUsFooter.astro";
import SocialLinks from "./SocialLinksFooter.astro";
import FooterInfo from "./FooterInfo.astro";

import logoNordvital from "../assets/logo_footer/LOGO-BLANCO-NORVITAL.webp";

import { Image } from "astro:assets";
---

<footer>
  <div class="bg-nordvital-primary text-white grid grid-cols-1 lg:grid-cols-4 lg:gap-5">
    <div class="flex justify-center lg:m-4 lg:h-44 lg:w-84">
      <Image
        src={logoNordvital}
        alt="Logo Nordvital"
        class="w-36 h-24 lg:w-40 lg:h-28 m-2 lg:m-12"
        widths={[336, 576]}
        sizes="(max-width: 336px) 100vw,(max-width: 576px) 100vw, 576px"
      />
    </div>

    <FooterInfo />
    <div class="grid grid-cols-1 md:grid-cols-2 lg:col-span-2 lg:gap-5 mt-6 lg:mt-0">
      <ContactLinks />

      <SocialLinks />
    </div>
  </div>
  <hr />
  <div class="bg-nordvital-primary text-white font-semibold text-sm text-center">
    <div class="p-5 grid grid-cols-3">
      <a href="/our-policies" class="mr-10">Términos y condiciones</a>
      <a href="/our-policies" class="text-center">Nordvital - Todos los derechos reservados &#169 {new Date().getFullYear()}</a>
      <a href="/data-policy" class="ml-10">Tratamiento de datos</a>
    </div>
  </div>
</footer>
