<div class="font-bold">
  <h3 class="text-2xl mb-5 mt-12 text-white text-start font-bold">
    Información
  </h3>

  <div class="grid grid-cols-2 gap-2 font-normal text-[13px]">
    <a href="/" class="hover:underline transition">Inicio</a>
    <a href="/contact-us" class="hover:underline transition">Trabaja con nosotros</a>
    <a href="/users/blog" class="hover:underline transition">Edúcate</a>
    <a href="/users/pqrsfd" class="hover:underline transition">PQRSFD</a>
    <a href="/aboutus/sarlaf-sicof" class="hover:underline transition">Sarlaf y Sicof</a>
    <a href="/users/medical-procedures" class="hover:underline transition">Procedimientos Médicos</a>
  </div>
</div>