<div class="font-bold px-5 lg:px-0 space-x-9">
  <h3 class="flex justify-center text-2xl py-3 lg:py-0 lg:mb-5 lg:mt-12 text-white text-start font-bold">
    Información:
  </h3>

  <div class="grid grid-cols-2 lg:gap-2 font-normal text-[13px] place-self-center">
    <a href="/" class="hover:underline transition">Inicio</a>
    <a href="/contact-us" class="hover:underline transition">Trabaja con nosotros</a>
    <a href="/users/blog" class="hover:underline transition">Edúcate</a>
    <a href="/users/pqrsfd" class="hover:underline transition">PQRSFD</a>
    <a href="/aboutus/sarlaf-sicof" class="hover:underline transition">Sarlaf y Sicof</a>
    <a href="/users/medical-procedures" class="hover:underline transition">Procedimientos Médicos</a>
  </div>
</div>