---
interface Props {
    title: string;
    content: string;
    icon: string;
}

const { title, content, icon } = Astro.props;
---


<div class="grid grid-cols-2">
    <div class="flex items-center justify-center">
      <img src={icon} alt={`Icon ${title}`}  class="w-[110px] h-[237px]" />
    </div>
    <div>
        <h5 class="text-xl font-bold text-teal-500 mb-3 ">
          {title}
        </h5>
        <p>
            {content}
        </p>
    </div>
  </div>