---
import { Image } from 'astro:assets';
import H from '../ui/H.astro';
import P from '../ui/P.astro';

interface Props {
    title: string;
    content: string;
    icon?: ImageMetadata;
    showIcon?: boolean;
}

const { title, content, icon, showIcon = true } = Astro.props;
---


<div class={`grid ${showIcon ? 'grid-cols-2' : 'grid-cols-1'} shadow-xl rounded-xl p-3 border border-b bg-gray-100 h-48`}>
    {showIcon && (
    <div class="flex items-center justify-center">
      <Image
        src={icon!}
        alt={`Icono de ${title}`}
        class="w-16 h-16 object-contain"
        widths={[64, 128, 256]}
        sizes="64px"
        loading="lazy"
      />
    </div>
    )}
    <div class=" flex flex-col overflow-hidden  h-full space-y-4">
        <H level={5} size="md" color="secondary">
          {title}
        </H>
        <P leading="relaxed" hyphens class="flex-1 overflow-y-auto">
            {content}
        </P>
    </div>
  </div>