---
import { Image } from 'astro:assets';

interface Props {
    title: string;
    content: string;
    icon?: ImageMetadata;
    showIcon?: boolean;
}

const { title, content, icon, showIcon = true } = Astro.props;
---


<div class={`grid ${showIcon ? 'grid-cols-2' : 'grid-cols-1'} shadow-xl rounded-xl p-3 border border-b bg-gray-100 h-48`}>
    {showIcon && (
    <div class="flex items-center justify-center">
      <Image
        src={icon!}
        alt={`Icono de ${title}`}
        class="w-16 h-16 object-contain"
        widths={[64, 128, 256]}
        sizes="64px"
        loading="lazy"
      />
    </div>
    )}
    <div class=" flex flex-col overflow-hidden  h-full space-y-4">
        <h5 class="text-xl font-bold text-nordvital-secondary">
          {title}
        </h5>
        <p class="text-base flex-1 text-gray-700 overflow-y-auto leading-relaxed hyphens-auto text-wrap-pretty">
            {content}
        </p>
    </div>
  </div>