---
interface Props {
    title: string;
    content: string;
    icon?: string;
    showIcon?: boolean;
}

const { title, content, icon, showIcon = true } = Astro.props;
---


<div class={`grid ${showIcon ? 'grid-cols-2' : 'grid-cols-1'} shadow-xl rounded-xl p-3 border border-b`}>
    {showIcon && (
    <div class="flex items-center justify-center">
      <img src={icon} alt={`Icon ${title}`}  class="w-20 md:w-25 h-30 md:h-50" />
    </div>
    )}
    <div>
        <h5 class="text-xl font-bold text-teal-500 mb-3 ">
          {title}
        </h5>
        <p>
            {content}
        </p>
    </div>
  </div>