---
interface Props {
  title: string;
  backgroundImage: string;
}

const { title, backgroundImage } = Astro.props;
---

<section
  class="bg-cover bg-gray-200 h-[400px] w-full flex items-center mb-12"
  style={`background-image: url(${backgroundImage})`}
>
  <section class="text-white w-1/2 m-5 md:m-40">
    <a href="/" class="text-teal-500 font-normal bg-gray-100 p-2 min-w-max rounded-3xl inline-block">
      Inicio <span class="text-teal-500 font-semibold">>{title}</span>
    </a>
    <h1 class="text-[35px] md:text-[43px] font-normal mt-4 min-w-[375px] md:w-full">{title}</h1>
  </section>
</section>
 