---
import { Image } from 'astro:assets';
interface Props {
  title: string;
  backgroundImage: string;
}

const { title, backgroundImage } = Astro.props;
---

<section class="relative h-100 w-full flex items-center mb-12 bg-gray-200 overflow-hidden">
  <Image
    src={backgroundImage}
    alt={title}
    class="absolute inset-0 w-full h-full object-cover z-0"
    width={1920}
    height={400}
  />
  <section class="relative z-10 text-white w-1/2 m-5 md:m-40">
    <a href="/" class="text-teal-500 font-normal bg-gray-100 p-2 min-w-max rounded-3xl inline-block">
      Inicio <span class="text-teal-500 font-semibold">&gt;{title}</span>
    </a>
    <h1 class="text-[35px] md:text-[43px] font-normal mt-4 min-w-93.75 md:w-full">{title}</h1>
  </section>
</section>
