---
import AboutUs from "../../components/aboutus/AboutUs.astro"
import Layout from "../../layouts/Layout.astro"
---
<Layout title="About Us">
    <div class="h-full w-full">
        <h1 class="text-4xl text-center font-bold text-gray-800">
            Sobre nosotros
        </h1>
    </div>
</Layout>