---
import HeroSection from "@/components/common/HeroSection.astro";
import AgreementAccordion from "@/components/common/AgreementAccordion.astro";
import Layout from "../../layouts/Layout.astro";
import { agreements } from "@/content/agreements.data";

//Images
import img from "@/images/AboutUs/NOSOTROS.webp?url";
---

<Layout title="Convenios | Nordvital IPS - Alianzas con EPS" 
description="Conoce los convenios de Nordvital IPS con las principales EPS de Colombia: Compensar, Nueva EPS y Coosalud. Líneas de atención y servicios disponibles para afiliados.">
<main class="bg-gray-100 min-h-screen">
  <HeroSection title="Convenios" backgroundImage={img} />
  
  <!-- Descripción -->
  <section class="container mx-auto px-4 my-4 md:my-16">
    <div class="w-[93%] md:w-[90%] mx-auto">
      <h2 class="text-teal-500 font-bold text-3xl md:text-4xl mb-4 md:mb-6">
        En NordVital IPS
      </h2>
      <div class="space-y-4 text-base md:text-lg">
        <p class="text-gray-700 leading-relaxed">
          Nos enorgullece ofrecer una amplia gama de servicios médicos de alta
          calidad a nuestros pacientes. Para garantizar un acceso integral a
          la atención médica, hemos establecido convenios con varias Entidades
          promotoras de salud (EPS) líderes en el país.
        </p>
        <p class="text-gray-700 leading-relaxed">
          Nuestros convenios con EPS nos permiten brindar atención médica
          especializada a los afiliados de estas entidades, garantizando un
          proceso de atención eficiente y sin contratiempos. Trabajamos en
          estrecha colaboración con nuestras EPS asociadas para ofrecer
          servicios médicos de primera calidad.
        </p>
      </div>
    </div>
  </section>
      
      <!-- Acordeón de Convenios -->
      <div class="grid md:grid-cols-3 py-4 gap-4 md:gap-6 w-[88%] mx-auto md:w-[48%]">
        {agreements.map((agreement) => (
          <AgreementAccordion {...agreement} />
        ))}
      </div>
  </main>
</Layout>

<style>
  .shadow-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
</style>

<script>
  import { setupAccordion } from "@/scripts/accordion";

  // Ejecutar la configuración cuando el DOM esté cargado
  document.addEventListener("DOMContentLoaded", setupAccordion);
</script>
