---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import BreadCrumps from "@/components/common/HeroSection.astro";
import img from "@/images/AboutUs/NOSOTROS.webp?url";

// * imgs cards
import S01img1 from "@/images/Sedes/Cucuta/Sede 1/SEDE-1-1.webp";
import S01img2 from "@/images/Sedes/Cucuta/Sede 1/SEDE-1-2.webp";
import S01img3 from "@/images/Sedes/Cucuta/Sede 1/SEDE-1-3.webp";

import S03Img1 from "@/images/Sedes/Cucuta/Sede 2/SEDE-2-1.webp";
import S03Img2 from "@/images/Sedes/Cucuta/Sede 2/SEDE-2-2.webp";
import S03Img3 from "@/images/Sedes/Cucuta/Sede 2/SEDE-2-3.webp";

import S04Img1 from "@/images/Sedes/Cucuta/Sede 3/SEDE-3-1.webp";
import S04Img2 from "@/images/Sedes/Cucuta/Sede 3/SEDE-3-2.webp";
import S04Img3 from "@/images/Sedes/Cucuta/Sede 3/SEDE-3-3.webp";

import S05Img1 from "@/images/Sedes/Cucuta/Sede 4/SEDE-4-1.webp";
import S05Img2 from "@/images/Sedes/Cucuta/Sede 4/SEDE-4-2.webp";
import S05Img3 from "@/images/Sedes/Cucuta/Sede 4/SEDE-4-3.webp";

import S06Img1 from "@/images/Sedes/Cucuta/Sede 5/SEDE-5-1.webp";
import S06Img2 from "@/images/Sedes/Cucuta/Sede 5/SEDE-5-2.webp";
import S06Img3 from "@/images/Sedes/Cucuta/Sede 5/SEDE-5-3.webp";

import S07Img1 from "@/images/Sedes/Cucuta/Sede 6/SEDE-6-1.webp";
import S07Img2 from "@/images/Sedes/Cucuta/Sede 6/SEDE-6-2.jpg";
import S07Img3 from "@/images/Sedes/Cucuta/Sede 6/SEDE-6-3.webp";

// sede ubate
import S08Img1 from "@/images/Sedes/Cundinamarca/Ubate/SEDE-1-1.webp";
import S08Img2 from "@/images/Sedes/Cundinamarca/Ubate/SEDE-1-2.webp";
import S08Img3 from "@/images/Sedes/Cundinamarca/Ubate/SEDE-1-3.webp";

// sede la mesa
import S09Img1 from "@/images/Sedes/Cundinamarca/La-Mesa/SEDE-2-1.webp";
import S09Img2 from "@/images/Sedes/Cundinamarca/La-Mesa/SEDE-2-2.webp";
import S09Img3 from "@/images/Sedes/Cundinamarca/La-Mesa/SEDE-2-3.webp";

// sede cajica
import S10Img1 from "@/images/Sedes/Cundinamarca/Cajica/SEDE-3-1.webp";
import S10Img2 from "@/images/Sedes/Cundinamarca/Cajica/SEDE-3-2.webp";
import S10Img3 from "@/images/Sedes/Cundinamarca/Cajica/SEDE-3-3.webp";

// sede la calera
import S11Img1 from "@/images/Sedes/Cundinamarca/La-Calera/SEDE-4-1.webp";
import S11Img2 from "@/images/Sedes/Cundinamarca/La-Calera/SEDE-4-2.webp";
import S11Img3 from "@/images/Sedes/Cundinamarca/La-Calera/SEDE-4-3.webp";

// sede leticia
import S12Img1 from "@/images/Sedes/Amazonas/Leticia/SEDE-1-1.webp";
import S12Img2 from "@/images/Sedes/Amazonas/Leticia/SEDE-1-2.webp";
import S12Img3 from "@/images/Sedes/Amazonas/Leticia/SEDE-1-3.webp";
import TapsContent from "@/components/common/TapsContent.astro";

const CONTENT_TABS = [
  {
    id: "cucuta",
    title: "Cúcuta",
  },
  {
    id: "cundinamarca",
    title: "Cundinamarca",
  },
  {
    id: "leticia",
    title: "Leticia",
  },
];
---

<Layout title="Resultados de Laboratorio | Nordvital IPS" 
description="Accede y descarga tus resultados de laboratorio clínico de Nordvital IPS. Guía paso a paso para visualizar tus exámenes de forma segura y rápida.">
  <main class="bg-gray-100">
    <BreadCrumps title="Nuestras sedes" backgroundImage={img} />

    <div class="pt-5 pb-5">
      <div class="w-4/5 mx-auto mt-4 bg-transparent border-none">
        <TapsContent tabs={CONTENT_TABS}>
          <div data-tab-content="cucuta">
            <Card
              title="SEDES 01:"
              address="Calle 14A # 2E-85"
              mapLink="https://www.google.com/maps..."
              images={[S01img1, S01img2, S01img3]}
            />
            <Card
              title="SEDES 03:"
              address="Calle 13A # 1E-52"
              mapLink="https://www.google.com/maps/place/Cl.+13a+%231e27,+Los+Caobos,+C%C3%BAcuta,+Norte+de+Santander/@7.8839631,-72.4978305,205m/data=!3m1!1e3!4m6!3m5!1s0x8e66459f7c41e3e3:0x5771d8ad71bd1a1a!8m2!3d7.8842913!4d-72.497095!16s%2Fg%2F11vxxw818w?entry=ttu"
              images={[S03Img1, S03Img2, S03Img3]}
            />
            <Card
              title="SEDES 04:"
              address="Calle 15 # 2E-07"
              mapLink="https://www.google.com/maps/dir/7.8830885,-72.4954423//@7.8830827,-72.4955055,70m/data=!3m1!1e3?entry=ttu"
              images={[S04Img1, S04Img2, S04Img3]}
            />
            <Card
              title="SEDES 05:"
              address="AV. 3A E # 13A-82 CAOBOS"
              mapLink="https://maps.app.goo.gl/qeYXCAhAt7Kihwps8"
              images={[S05Img1, S05Img2, S05Img3]}
            />
            <Card
              title="SEDES 06:"
              address="SEDE AV2 ESTE # 14A-10 CAOBOS"
              mapLink="https://maps.app.goo.gl/MsU4raTfftwrrgff7"
              images={[S06Img1, S06Img2, S06Img3]}
            />
            <Card
              title="SEDES 07:"
              address="CALLE 8 # 0-71 BARRIO LATINO"
              mapLink="https://maps.app.goo.gl/MsU4raTfftwrrgff7"
              images={[S07Img1, S07Img2, S07Img3]}
            />
          </div>
          <div data-tab-content="cundinamarca">
            <Card
              title="Sede Ubaté:"
              address="CALLE 11 # 5-20 JUAN JOSE NEIRA"
              mapLink="https://maps.app.goo.gl/CL68fh6z9HDBARhu8"
              images={[S08Img1, S08Img2, S08Img3]}
            />
            <Card
              title="Sede La Mesa:"
              address="CALLE 8 # 24-67 ALVAREZ DIAZ"
              mapLink="https://maps.app.goo.gl/Bntm8wxFXDekCtgK8"
              images={[S09Img1, S09Img2, S09Img3]}
            />
            <Card
              title="Sede Cajíca:"
              address="CARRERA 7 # 2-46"
              mapLink="https://maps.app.goo.gl/fVRix63tKta678LR6"
              images={[S10Img1, S10Img2, S10Img3]}
            />
            <Card
              title="Sede La Calera:"
              address="CARRERA 5 # 2A-69"
              mapLink="https://maps.app.goo.gl/rbHQBipQYNMjoyBD9"
              images={[S11Img1, S11Img2, S11Img3]}
            />
          </div>
          <div data-tab-content="leticia">
            <Card
              title="Sede leticia:"
              address="CALLE 12 # 8-55 JOSE MARIA HERNANDEZ"
              mapLink="https://maps.app.goo.gl/U7VrqXBMe2aWVfwg9"
              images={[S12Img1, S12Img2, S12Img3]}
            />
          </div>
        </TapsContent>
      </div>
    </div>
  </main>
</Layout>

<style>
  .tab-panel {
    display: none;
  }
  .tab-panel.active {
    display: block;
  }
  .tab-button.active {
    @apply bg-sky-500 text-white;
  }
</style>
