---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import BreadCrumps from "@/components/common/HeroSection.astro";
import TabsContent from "@/components/common/TabsContent.astro";
import { CONTENT_TABS, HEADQUARTERS_DATA } from "@/content/headquarters.data";

// Images
import img from "@/images/AboutUs/NOSOTROS.webp";
---

<Layout
  title="Nuestras Sedes | Nordvital IPS - Ubicaciones"
  description="Encuentra la sede de Nordvital IPS más cercana. 11 sedes habilitadas en Cúcuta, Cundinamarca y otras ciudades de Colombia."
>
  <main class="bg-gray-100">
    <BreadCrumps title="Nuestras sedes" backgroundImage={img} breadcrumb={[
      { label: "Inicio", link: "/" },
      { label: "Sobre Nosotros", link: "/aboutus/aboutus" },
      { label: "Sedes", link: "/aboutus/headquarters"}
    ]} 
    />

    <div class="pb-5" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100">
      <div class="mx-auto mt-4 bg-transparent border-none">
        <TabsContent tabs={CONTENT_TABS}>
          <div data-tab-content="cucuta">
            {
              HEADQUARTERS_DATA.filter((h) => h.department === "cucuta").map(
                (h) => <Card {...h} />
              )
            }
          </div>
          <div data-tab-content="cundinamarca">
            {
              HEADQUARTERS_DATA.filter(
                (h) => h.department === "cundinamarca"
              ).map((h) => <Card {...h} />)
            }
          </div>
        </TabsContent>
      </div>
    </div>
  </main>
</Layout>

<style>
  @reference "../../global.css";
  .tab-panel {
    display: none;
  }
  .tab-panel.active {
    display: block;
  }
  .tab-button.active {
    @apply bg-sky-500 text-white;
  }
</style>
