---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import BreadCrumps from "@/components/common/HeroSection.astro";
import TapsContent from "@/components/common/TapsContent.astro";
import { CONTENT_TABS, HEADQUARTERS_DATA } from "@/content/headquarters.data";

// Images
import img from "@/images/AboutUs/NOSOTROS.webp?url";
---

<Layout
  title="Resultados de Laboratorio | Nordvital IPS"
  description="Accede y descarga tus resultados de laboratorio clínico de Nordvital IPS. Guía paso a paso para visualizar tus exámenes de forma segura y rápida."
>
  <main class="bg-gray-100">
    <BreadCrumps title="Nuestras sedes" backgroundImage={img} />

    <div class="pb-5">
      <div class="mx-auto mt-4 bg-transparent border-none">
        <TapsContent tabs={CONTENT_TABS}>
          <div data-tab-content="cucuta">
            {
              HEADQUARTERS_DATA.filter((h) => h.department === "cucuta").map(
                (h) => <Card {...h} />
              )
            }
          </div>
          <div data-tab-content="cundinamarca">
            {
              HEADQUARTERS_DATA.filter(
                (h) => h.department === "cundinamarca"
              ).map((h) => <Card {...h} />)
            }
          </div>
        </TapsContent>
      </div>
    </div>
  </main>
</Layout>

<style>
  @reference "../../global.css";
  .tab-panel {
    display: none;
  }
  .tab-panel.active {
    display: block;
  }
  .tab-button.active {
    @apply bg-sky-500 text-white;
  }
</style>
