---
import HeroSection from "@/components/common/HeroSection.astro";
import Layout from "../../layouts/Layout.astro";
import Accordion from "@/components/common/Accordion.astro";
import img from "@/images/Sarlaf-Sicof/BANNER-SARLAF-SICOF.png";
---

<Layout title="SARLAF - SICOF">
  <head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <main class="overflow-x-hidden bg-gray-100">
    <HeroSection title="SARLAF - SICOF" backgroundImage={img.src} />

    <section
      class="font-sans md:px-20 mx-auto w-[60%] text-center text-lg text-gray-600"
    >
      <p>
        En <span class="font-bold text-sky-400">NordVital IPS SAS</span>,
        estamos dedicados a mantener una operación transparente y ética,
        alineada con las normativas legales vigentes. Nos enorgullecemos de
        promover una cultura de integridad y responsabilidad en todas nuestras
        actividades y relaciones comerciales.
      </p>
    </section>

    <Accordion title="SARLAFT" id="1">
      <div
        class="px-4 py-2 bg-white w-full mx-auto rounded-b-2xl text-gray-600 font-sans"
      >
        <p>
          NORDVITAL IPS SAS elaborará mecanismos que permitan tomar las medidas
          conducentes a controlar el riesgo inherente de LA/FT/FPDM al que se ve
          expuesta, en razón de los factores de riesgo y sus riesgos asociados.
          Los mecanismos de control empleados deberán garantizar su efectividad
          y permitir analizar las diferentes situaciones, hechos y eventos
          presentados en el desarrollo de la actividad de prevención. La
          revisión de los controles se hará de manera prioritaria para los
          riesgos cuyo nivel residual se encuentre en "Extremo" o "Alto" y,
          posteriormente, para los que se encuentren en "Medio" y "Bajo" o en
          categoría de menor riesgo. Para mitigar estos riesgos se revisarán los
          controles contemplados en los manuales, procedimientos y la ejecución
          de los procesos de NORDVITAL IPS SAS y, si es el caso, establecer
          modificaciones o mejoras a la implementación o documentación de los
          respectivos procesos. Cada control que se implemente o modifique
          deberá ser aprobado por la Gerencia e identificar claramente el
          responsable de la ejecución del mismo; ahora bien, si el control
          resultase de gran impacto y su costo/beneficio es representativo
          conforme a los criterios del Oficial de Cumplimiento, la evaluación y
          aprobación corresponderá a la Junta Directiva. De otro lado, las
          operaciones que sean calificadas como sospechosas en desarrollo de
          esta etapa, se reportarán de forma inmediata a la Unidad de
          Información y Análisis Financiero – UIAF. La estructura de control
          establecida deberá identificar formalmente tratamientos, responsables,
          plazos y formas de ejecución en cumplimiento de las buenas prácticas
          de la administración de riesgos.
        </p>
        <br />
        <p>
          NORDVITAL IPS SAS como persona jurídica debidamente establecida bajo
          la normatividad legal colombiana declara que:
        </p>
        <br />
        <div class="cont2-acordion">
          <p>
            • El lavado de activos y la financiación del terrorismo son delitos
            en los cuales las organizaciones criminales buscan dar apariencia de
            legalidad a los recursos generados en actividades ilícitas y/o
            contribuir económica y materialmente en actividades que afectan la
            seguridad e integridad de las personas, respectivamente, violando el
            orden jurídico, utilizado para ello transacciones realizadas con
            personas naturales o empresas legalmente establecidas. De esta
            forma, se desencadenan graves perjuicios para el estado, la
            ciudadanía y la economía tanto de Colombia como de todos los países
            del mundo.
          </p>
          <br />
          <p>
            • NORDVITAL IPS SAS acata irrestricta e inobjetablemente la
            normativa relacionada con la administración del riesgo en contra del
            lavado de activos y financiación del terrorismo que le sea
            aplicable, expedida tanto por el legislativo como por los entes de
            control y vigilancia del estado que correspondan.
          </p>
          <br />
          <p>
            • NORDVITAL IPS SAS apoya firmemente el esfuerzo nacional e
            internacional en la lucha contra la criminalidad, especialmente la
            trata de personas, narcotráfico, tráfico de armas y el terrorismo,
            el lavado de activos, entre otros, teniendo, así mismo, la
            obligación y compromiso de apoyar a las autoridades en la
            identificación de actos o negocios jurídicos vinculados con el
            LA/FT/FPDM.
          </p><br />
          <p>
            • Una vez se identifique alguna operación vinculada a NORDVITAL IPS
            SAS, con indicios de relación con actividades de LA/FT/FPDM, la
            Corporación actúa de acuerdo con lo establecido en la normativa
            legal aplicable, vigente para estos eventos y en sus políticas
            internas establecidas respecto de este tema, mediante los
            procedimientos definidos que correspondan.
          </p><br />
          <p>
            • NORDVITAL IPS SAS proporciona los medios para que los mecanismos
            establecidos con el propósito de prevenir y controlar los riesgos de
            LA/FT/FPDM estén al alcance de todos los funcionarios y es deber de
            estos su permanente consulta y aplicación.
          </p><br />
          <p>
            • NORDVITAL IPS SAS establece relaciones o negocios con entidades
            financieras de Colombia o del exterior que se encuentren debidamente
            supervisadas por el órgano de control y vigilancia correspondiente,
            que sean de reconocida trayectoria y que tengan implementados
            mecanismos de prevención y control al LA/FT/FPDM.
          </p>
        </div>

        <div class="cont3-acordion">
          <p>
            Este manual de políticas y procedimientos para la prevención y
            control del LA/FT/FPDM debe ser conocido por los administradores,
            organismos de control y personas que intervengan en actividades que
            sean sensibles o se presten para operaciones inusuales o
            sospechosas.
          </p>
        </div>
      </div>
    </Accordion>

    <!-- Accordion Item 2 -->
    <Accordion title="SICOFT" id="2">
      <div
        class="px-4 py-2 bg-white w-full mx-auto rounded-b-2xl text-gray-600 font-sans"
        id="accordion-body-2"
      >
        <p class="mb-4">
          NORDVITAL IPS SAS se compromete a cumplir las normas y leyes
          implantadas en materia de prevención y mitigación de riesgo de
          prácticas orientadas a corrupción, opacidad y fraude con el propósito
          de contribuir a la realización de los fines del Sistema General de
          Seguridad Social en Salud en Colombia, proteger la imagen y reputación
          de la entidad, promoviendo el actuar ético y transparente ante sus
          grupos de interés, fomentando la integridad y la cultura de legalidad
          bajo la filosofía de cero tolerancia, en cualquier conducta que
          pudiese ser considerada como Corrupción, Opacidad, Fraude o que pueda,
          en cualquier otra forma, ser considerada una conducta irregular. Por
          lo tanto, NORDVITAL IPS SAS adopta la política “cero tolerancias
          frente a la corrupción, opacidad y fraude” tomando las medidas
          necesarias para combatir estos flagelos, buscando implementar de forma
          permanente mecanismos, sistemas y controles adecuados que permita su
          prevención, detección y tratamiento.
        </p>
        <p>En desarrollo de lo anterior se adopta lo siguiente:</p>
        <br />
        <div class="cont-acordion" style="padding-left: 35px;">
          <p>
            • La alta gerencia, funcionarios, colaboradores y/o prestadores de
            servicio no participaran en ninguna forma práctica de corrupción,
            opacidad o fraude, directa o indirectamente y tomara las medidas
            necesarias para combatirlos, independientemente de cualquier forma o
            tipología de la que se trate.
          </p>
          <br />
          <p>
            • Nordvital IPS SAS establece y promueve dentro de toda la
            organización, una cultura institucional encaminada a fortalecer la
            transparencia como valor y principio de toda actuación.
          </p>
          <br />
          <p>
            • Realizar las debidas diligencias para conocer adecuadamente a los
            empleados, clientes, contrapartes y de más grupos de interés que se
            vinculan con Nordvital IPS SAS, dando cumplimiento a los
            procedimientos de vinculación establecidos por la Organización. •
            Todas las denuncias asociadas a Corrupción, Opacidad y Fraude deben
            ser reportadas por el canal de denuncias de la Línea Ética
            establecidos.
          </p>
          <br />
          <p>
            • Es deber de Nordvital IPS SAS y sus empleados, asegurar y acatar,
            el cumplimiento de las disposiciones y lineamientos que prohíben la
            realización de actos de Corrupción, Opacidad y Fraude. • Gestionar
            los riesgos de Corrupción, Opacidad y Fraude, asociados a las
            actividades que se desarrollen en función del objeto social y al
            relacionamiento con los grupos de interés.
          </p><br />
          <p>
            • NORDVITAL IPS SAS proporciona los medios para que los mecanismos
            establecidos con el propósito de prevenir y controlar los riesgos de
            LA/FT/FPDM estén al alcance de todos los funcionarios y es deber de
            estos supermanente consulta y aplicación.
          </p>
          <br />
          <p>
            • Gestionar los riesgos de Corrupción, Opacidad y Fraude, asociados
            a las actividades que se desarrollen en función del objeto social y
            al relacionamiento con los grupos de interés.
          </p>
          <br />
          <p>
            • Nordvital IPS SAS se abstendrá de recibir o realizar donaciones
            que no tengan un fin lícito o sobre las cuales exista la sospecha
            que servirán para encubrir conductas de Corrupción, Opacidad y
            fraude, o para obtener ventajas en los negocios de la entidad.
          </p>
          <br />
          <p>
            • Todo personal de Nordvital IPS SAS se debe capacitar
            obligatoriamente en el sistema de administración de riesgos de
            corrupción, opacidad y fraude de forma anual, mediante la plataforma
            avanzada.
          </p>
          <br />
          <p>
            • Se consagra el deber de los órganos de administración y de
            control, del Oficial de Cumplimiento, así como de todos los
            funcionarios, de asegurar el cumplimiento de los reglamentos
            internos y demás disposiciones relacionadas en Subsistema de
            Administración del Riesgo de Corrupción, la Opacidad y Fraude -
            SICOF.
          </p>
          <br />
          <p>
            • Los colaboradores de Nordvital IPS SAS deben informar de manera
            inmediata cualquier conflicto de intereses que vaya en contravía de
            los valores y principios corporativos, a fin de evitar daños y
            perjuicios a la organización; así mismo, informar la existencia de
            relaciones entre la entidad y terceras partes, empleados u otros
            individuos o grupos relacionados con la organización cuyos intereses
            puedan coincidir en la realización de alguna actividad conjunta
            (dualidad de interés y no conflicto).
          </p>
          <br />
          <p>
            • Los criterios de evaluación del riesgo de Corrupción, Opacidad y
            Fraude se definen de acuerdo con los controles existentes en el
            proceso al momento de la evaluación de los factores de riesgo. Para
            poder calificarlos y clasificarlos, se debe contemplar los ámbitos
            de riesgo, sus consecuencias, la probabilidad de que puedan ocurrir
            esas consecuencias y el impacto que le acarrearía al proceso y/o
            Nordvital IPS SAS en el evento de materializarse el riesgo.
          </p>
          <br />
          <p>
            • Todos los colaboradores de Nordvital IPS SAS que omitan denunciar
            situaciones que impliquen un posible riesgo de corrupción, opacidad
            y fraude, configura un incumplimiento de la presente política y
            constituye una falta grave, sujeto a acción disciplinaria por parte
            de Nordvital IPS SAS.
          </p>
          <br />
          <p>
            • Nordvital IPS SAS No establecerá ningún tipo de relación
            contractual con empleados, clientes y contrapartes que aparezcan
            relacionados en las listas de verificación vinculantes con procesos
            de investigación y señales de alerta asociados a riesgo de
            Corrupción, Opacidad y Fraude.
          </p>
          <br />
          <p>
            • Nordvital IPS SAS garantiza la reserva y confidencialidad frente a
            los hechos que sean denunciados; así mismo, los denunciantes que
            realicen los reportes de conductas indebidas faciliten información o
            participen en una investigación, estarán cubiertos por medidas de
            protección a represalias cuando así lo consideren.
          </p>
          <br />
          <p>
            En tal caso, Nordvital IPS SAS verificará la pertinencia de
            implementar medidas que permitan salvaguardar la integridad del
            denunciante. (Manual línea ética).
          </p>
          <br />
          <p>
            • No ofrecemos, aceptamos o solicitamos regalos o atenciones, si se
            entiende o parece entenderse, como una obligación o un soborno
            (Política de regalos)
          </p>
          <br />
          <p>
            • Todos los terceros y de más partes interesadas, que se vinculen
            contractualmente con Nordvital IPS SAS, serán responsables de
            proteger la información a la cual acceden y procesen, para evitar su
            perdida, alteración, destrucción o uso indebido, mediante acuerdos
            de confidencialidad.
          </p>
          <br />
          <p>
            • Nordvital IPS SAS establece como canales únicos de denuncia para
            las tipologías de Corrupción, Opacidad y Fraude, Correo
            privacidad@nordvitalips.com.
          </p>
        </div>
      </div>
    </Accordion>

    <!-- Accordion Item 3 -->
    <Accordion title="Línea Ética" id="3">
      <div
        class="px-4 py-2 bg-white w-full mx-auto rounded-b-2xl text-gray-600 font-sans"
        id="accordion-body-3"
      >
        <a
          href="/Pagina-nordvitalips/pdf/GE-N-001 CODIGO DE ETICA Y BUEN GOBIERNO v1.pdf"
          class="text-blue-500 underline"
          target="_blank"
        >
          GE-N-001 CODIGO DE ETICA Y BUEN GOBIERNO v1.</a
        > Ver documento completo
      </div>
    </Accordion>

    <section
      class="linea__etica py-16 md:py-8 text-left mx-auto h-auto w-[70%] text-gray-900"
    >
      <h2 class="text-[32px] font-semibold mb-3">Nuestra Línea Ética</h2>

      <p>
        La Línea Ética de <span class="font-medium text-sky-500"
          >NORDVITAL IPS S.A.S</span
        >
        es un espacio <em class="font-semibold">confidencial y seguro</em> para denunciar
        cualquier situación que atente contra el Código de Ética e Integridad las
        políticas, los principios y los valores de la compañia.
      </p>
      <p class="mt-4 mb-4">
        Nuestra línea ética está disponible las 24 horas los 365 días del año a
        través del correo electrónico{" "}
        <a
          href="mailto:Privacidad@nordvitalips.com"
          class="text-sky-500 font-medium">Privacidad@nordvitalips.com</a
        >.
      </p>
      <p>
        La Línea Ética existe para prevenir y detectar hechos que puedan
        provocar pérdidas financieras, afectar la imagen de la compañia y
        deteriorar el ambiente laboral.
      </p>

      <p class="mt-8">
        <span class="text-sky-500 font-medium">NORDVITAL IPS S.A.S</span> cuenta
        con la Línea Ética donde se podrán reportar:
      </p>

      <ul class="list-disc list-inside mt-4 text-left w-auto">
        <li>Violación de la ley y de las regulaciones.</li>
        <li>Conductas relacionadas con prácticas de LA/FT/FPADM.</li>
        <li>Comportamiento antiético.</li>
        <li>Prácticas anticompetitivas.</li>
        <li>Soborno y corrupción.</li>
        <li>Graves daños ambientales.</li>
        <li>
          Infracción grave de los derechos humanos y las libertades
          fundamentales.
        </li>
        <li>Incumplimiento de la regulación bancaria.</li>
        <li>Fraude.</li>
        <li>Violación a la confidencialidad...</li>
      </ul>
    </section>
  </main>
</Layout>
