---
import HeroSection from "@/components/common/HeroSection.astro";
import Layout from "../../layouts/Layout.astro";
import img from "@/images/AboutUs/NOSOTROS.webp?url";
import { financialStatusData } from "@/content/financial-status.data";
import FinancialYearSection from "@/components/aboutus/FinancialYearSection.astro";
---

<Layout title="Estado Financiero">
  <head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <main class="overflow-x-hidden">
    <HeroSection title="Estado Financiero" backgroundImage={img} breadcrumb={[
      {label: "Inicio", link: "/" },
      { label: "Sobre Nosotros", link: "/aboutus/aboutus" },
      { label: "Estado Financiero", link: "/aboutus/status-financiero" }
    ]} />

    <section class="estados__container container mx-auto px-4 py-8">
      <div class="grid gap-8 lg:grid-cols-2 xl:grid-cols-2 max-w-5xl mx-auto">
        {financialStatusData.map(({ year, documents }) => (
          <FinancialYearSection year={year} documents={documents} />
        ))}
      </div>
    </section>
  </main>
</Layout>
