---
import HeroSection from "@/components/common/HeroSection.astro";
import Layout from "../../layouts/Layout.astro";
import img from "@/images/Header/USUARIOS.png?url";
import Chat from "@/components/common/Chat.astro";
---

<Layout title="Blog">
  <head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <main class="overflow-x-hidden bg-gray-100">
    <HeroSection title="Nuestro Blog" backgroundImage={img} />

    <div class="container mx-auto h-auto md:w-[45%] items-center text-center">
      <h1 class="text-4xl font-semibold text-teal-500 mb-4">
        <em>Bienvenidos a nuestro blog</em>
      </h1>
      <hr />
      <p class="mt-4 mb-8 w-[90%] mx-auto">
        Aquí encontrarás información valiosa sobre salud y bienestar, consejos
        prácticos y novedades de <span>NordVital IPS</span>. Nuestro objetivo es
        acompañarte en el camino hacia una vida más saludable. ¡Gracias por
        visitarnos!
      </p>
    </div>

    <section></section>
    <div class="w-[95%] mx-auto">
      <!-- CARDS ITEM  -->
      <script
        src="https://static.elfsight.com/platform/platform.js"
        data-use-service-core
        defer></script>
      <div
        class="elfsight-app-2c7518a4-0e81-4c90-8d3c-6dbfcd8cc1ca"
        data-elfsight-app-lazy
      >
      </div>
    </div>
  </main>
</Layout>
