---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="blog">
  <div class="container weight-600">
    <div class="row">
      <h1 class="text-4xl text-center font-bold text-gray-800">Blog</h1>
    </div>
  </div>
</Layout>
