---
import Pqr from "@/components/TabPqrsfd.astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import HeroSection from "@/components/common/HeroSection.astro";
import H from "@/components/ui/H.astro";
import P from "@/components/ui/P.astro";

// images
import img from "@/images/Header/USUARIOS_11zon.webp";
import Images from "@/images/Header/2147900168_11zon.webp";
import PqrsdfForm from "@/components/react_components/PqrsdfForm";
---

<Layout title="PQRSFD | Nordvital IPS - Peticiones y Sugerencias" description="Envía tus peticiones, quejas, reclamos, sugerencias y felicitaciones a Nordvital IPS. Tu opinión nos ayuda a mejorar.">
  <head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <main class="bg-gray-100">
    <HeroSection title="PQRSFD" backgroundImage={img} breadcrumb={[
      { label: "Inicio", link: "/" },
      { label: "PQRSFD", link: "/users/pqrsfd" }
    ]} />
    <div
      class="container mx-auto px-1 h-auto w-full flex flex-col xl:flex-row items-center"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
<div class="rounded-3xl p-8 w-full lg:w-[90%] space-y-4">
        <H level={2} size="xl" color="primary">PQRSFD</H>
        <P align="justify" leading="relaxed" hyphens>
          Valoramos su opinión y estamos comprometidos en ofrecer el mejor
          servicio a nuestros usuarios. En NordVital IPS, nos esforzamos cada
          día por mejorar y brindar la atención que usted merece.
        </P>
        <P align="justify" leading="relaxed" hyphens>
          Por favor, comparta sus peticiones, quejas, reclamos, sugerencias y
          felicitaciones con nosotros. Su voz es fundamental para ayudarnos a
          crecer y adaptarnos a sus necesidades.
        </P>
      </div>
      <div class="w-full lg:w-1/2 h-2/3">
        <Image
          src={Images}
          alt="PQRSFD"
          class="rounded-3xl w-full h-full object-cover"
          width={1920}
          height={1080}
        />
      </div>
    </div>

    <Pqr />
    <PqrsdfForm client:load />
  </main>
</Layout>
