---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Seminario">

    <div>
        <h1 class="text-4xl text-center font-bold text-gray-800">
            Seminarios
        </h1>
    </div>

</Layout>